<div style="margin-left:10px;white-space: pre-line">
    <table mat-table>
      <tr>
        <th>Transcript</th>
        <th>Company Name</th>
        <th>Earnings Call Time</th>
        <th>Fiscal Quarter</th>
      </tr>
      <tr *ngFor="let table of tableArray  | paginate: { itemsPerPage: 15, currentPage: p }">
        <td> <a routerLink="/transcript">Full Transcript</a></td>
        <td>{{table.companyname}}</td>
        <td>{{table.ec_et}}</td>
        <td>{{table.fiscalyear}} Q{{table.fiscalquarter}}</td>
      </tr>
    </table>
    <div>
      <pagination-controls class="center" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>